- title "Comments"

- @comments.each do |comment|
  %h3.comments
    About 
    = comment.post.title
  
  %div{:id => "comment-#{comment.id}", :class => "comment-body"}
    %p.highlight
      = comment.body
    %p.small
      By
      = link_to comment.name, "mailto:#{comment.email}"
      of
      = link_to comment.website, comment.website, :target => "_blank"
      on
      = display_date comment.created_at
      = link_to 'Edit', edit_admin_comment_path(comment)
      = link_to 'Destroy', admin_comment_path(comment), :confirm => 'Are you sure?', :method => :delete
      
  %div{:class => "comment-actions"}
    %p
      = link_to 'Approve', admin_comment_path(comment)
