- title "Dashboard"

- content_for(:buttons) do
  = link_to 'Moderate Comments', new_admin_post_path, :id => 'moderate-button'
  = link_to 'Add New Post', new_admin_post_path, :id => 'new-post-button'
  

#recent-comments
  %h3 
    = @comments.size > 0 ? "Recent Comments" : "No Comments Yet"

  %ul
    - @comments.each do |comment|
      %li
        %p.highlight 
          = truncate(comment.body, :omission => "&hellip;", :length => 200)
        %p.small
          = "By #{comment.name}, #{display_date comment.created_at} on"
          = link_to comment.post.title, admin_post_path(comment.post)
        %p.small
          = link_to comment_approved(comment), admin_comment_path(comment)
    
  #comments-button
    = link_to 'All Comments', admin_comments_path if @comments.size > 0

#recent-posts
  %h3 
    = @posts.size > 0 ? "Recent Posts" : "You haven&rsquo;t posted anything yet"
  %ul
    - @posts.each do |post|
      
      %li
        %p.highlight 
          = link_to post.title, admin_post_path(post)
        %p.small
          - if post.published?
            = display_date post.updated_at
          -else
            = "NOT YET PUBLISHED"

  #posts-button
    = link_to 'All Posts', admin_posts_path if @posts.size > 0