- form_for(['admin', @post], :html => {:multipart => true, :class => 'horizontal'}) do |f|
  = f.error_messages
  .field
    = f.label :title
    = f.text_field :title, :class => 'text'
  .field
    = f.label :author
    = f.text_field :author, :class => 'text'
  .field
    = f.label :slug
    = f.text_field :slug, :class => 'text'
  .field
    = f.label :summary
    = f.text_area :summary, :class => 'text'
  .field
    = f.label :sass
    = f.file_field :sass, :class => 'text'
  .field
    = f.label :body, "Haml"
    = f.text_area :body, :class => 'text'
  .field
    = f.label :published
    = f.check_box :published, :class => 'text'

  .buttons
    = f.submit "Submit"
    =# submit_tag "Reset", :name => 'reset', :type => 'reset', :id => 'post_reset'
    = link_to "Cancel", :back